
.DS_Store

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

*.1

*.o

*.pbxproj

Skilaverkefni2/Skilaverkefni2/Skilaverkefni2.1

Skilaverkefni2/Skilaverkefni2.xcodeproj/project.pbxproj

*.pbxproj

Skilaverkefni2/Skilaverkefni2/main.cpp

Skilaverkefni2/Skilaverkefni2.xcodeproj/xcuserdata/Thorri.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Skilaverkefni2/Skilaverkefni2.layout

Skilaverkefni2/Skilaverkefni2.depend

*.cbp

*.cbp

Skilaverkefni2/Skilaverkefni2.cbp

*.exe

*.txt

vb1rhphg.pwk.txt

Skilaverkefni2/bin/Debug/Skilaverkefni2.exe

Skilaverkefni2/bin/Debug/Skilaverkefni2.exe
