
.DS_Store

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

*.1

*.o

*.pbxproj

Skilaverkefni2/Skilaverkefni2/Skilaverkefni2.1

Skilaverkefni2/Skilaverkefni2.xcodeproj/project.pbxproj

*.pbxproj

Skilaverkefni2/Skilaverkefni2/main.cpp

Skilaverkefni2/Skilaverkefni2.xcodeproj/xcuserdata/Thorri.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
